bin
obj
*obj/*
**.suo
*.mdf
*.ldf
HappyHours/Web.config
HhDataLayer/App.config
HhWcfService/Web.config
HhBackend/Web.config
.idea
HappyHours/Images/Cocktails/*
!HappyHours/Images/Cocktails/empty.txt
packages
