USE [master]
GO
/****** Object:  Database [HappyHours]    Script Date: 22/06/2013 21:07:51 ******/
CREATE DATABASE [HappyHours] ON  PRIMARY 
( NAME = N'HappyHours', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\HappyHours.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HappyHours_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\HappyHours_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HappyHours].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HappyHours]
GO
/****** Object:  Table [dbo].[T_Cocktail]    Script Date: 22/06/2013 21:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Cocktail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[difficulty] [int] NOT NULL,
	[duration] [int] NOT NULL,
	[creator_id] [int] NOT NULL,
	[description] [nvarchar](200) NOT NULL,
	[recipe] [nvarchar](200) NOT NULL,
	[picture_url] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_T_Cocktail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_CocktailsIngredients]    Script Date: 22/06/2013 21:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CocktailsIngredients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cocktail_id] [int] NOT NULL,
	[ingredient_id] [int] NOT NULL,
 CONSTRAINT [PK_T_CocktailsIngredients] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Favorite]    Script Date: 22/06/2013 21:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Favorite](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cocktail_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
 CONSTRAINT [PK_T_Favorite] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Ingredient]    Script Date: 22/06/2013 21:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Ingredient](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_T_Ingredient] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_User]    Script Date: 22/06/2013 21:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[admin] [int] NOT NULL,
 CONSTRAINT [PK_T_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[T_Cocktail]  WITH CHECK ADD  CONSTRAINT [FK_T_Cocktail_T_User] FOREIGN KEY([creator_id])
REFERENCES [dbo].[T_User] ([id])
GO
ALTER TABLE [dbo].[T_Cocktail] CHECK CONSTRAINT [FK_T_Cocktail_T_User]
GO
ALTER TABLE [dbo].[T_CocktailsIngredients]  WITH CHECK ADD  CONSTRAINT [FK_T_CocktailsIngredients_T_Cocktail] FOREIGN KEY([cocktail_id])
REFERENCES [dbo].[T_Cocktail] ([id])
GO
ALTER TABLE [dbo].[T_CocktailsIngredients] CHECK CONSTRAINT [FK_T_CocktailsIngredients_T_Cocktail]
GO
ALTER TABLE [dbo].[T_CocktailsIngredients]  WITH CHECK ADD  CONSTRAINT [FK_T_CocktailsIngredients_T_Ingredient] FOREIGN KEY([ingredient_id])
REFERENCES [dbo].[T_Ingredient] ([id])
GO
ALTER TABLE [dbo].[T_CocktailsIngredients] CHECK CONSTRAINT [FK_T_CocktailsIngredients_T_Ingredient]
GO
ALTER TABLE [dbo].[T_Favorite]  WITH CHECK ADD  CONSTRAINT [FK_T_Favorite_T_Cocktail] FOREIGN KEY([cocktail_id])
REFERENCES [dbo].[T_Cocktail] ([id])
GO
ALTER TABLE [dbo].[T_Favorite] CHECK CONSTRAINT [FK_T_Favorite_T_Cocktail]
GO
ALTER TABLE [dbo].[T_Favorite]  WITH CHECK ADD  CONSTRAINT [FK_T_Favorite_T_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[T_User] ([id])
GO
ALTER TABLE [dbo].[T_Favorite] CHECK CONSTRAINT [FK_T_Favorite_T_User]
GO
USE [master]
GO
