<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--lefebv_b-->
    <add name="MyHappyHoursEntities" connectionString="metadata=res://*/DataAccess.HappyHours.csdl|res://*/DataAccess.HappyHours.ssdl|res://*/DataAccess.HappyHours.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LEFEBV_B-PC\SQLEXPRESS;initial catalog=HappyHours;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--jackso_a-->
    <!--<add name="MyHappyHoursEntities" connectionString="metadata=res://*/DataAccess.HappyHours.csdl|res://*/DataAccess.HappyHours.ssdl|res://*/DataAccess.HappyHours.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI-MSI\MTI;initial catalog=HappyHours;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>