<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <location path="">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="Login.aspx" timeout="2880" />
    </authentication>
    <membership defaultProvider="CustomMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="CustomMembershipProvider" type="HhBackend.BusinessManagement.CustomMembership" applicationName="/" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="CustomRoleProvider">
      <providers>
        <clear />
        <add name="CustomRoleProvider" type="HhBackend.BusinessManagement.CustomRoleProvider" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <!--lefebv_b-->
    <add name="HappyHoursEntities" connectionString="metadata=res://*/DataAccess.HappyHours.csdl|res://*/DataAccess.Modele.ssdl|res://*/DataAccess.Modele.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LEFEBV_B-PC\SQLEXPRESS;initial catalog=HappyHours;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--jackso_a-->
    <!--<add name="HappyHoursEntities" connectionString="metadata=res://*/DataAccess.Modele.csdl|res://*/DataAccess.Modele.ssdl|res://*/DataAccess.Modele.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI-MSI\MTI;initial catalog=HappyHours;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>