<script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<div class="users_container">
</div>

<script type="text/javascript">
    function getAllUsers() {
        $.ajax({
            url: "/User/WsRest",
            type: "get",
            success: function (data, status) {
                console.log("success get all.", data);
                //for (var k in data) {
                //    $(".users_container").append();
                //}
            }
        });
    }

    function getUser(id) {
        $.ajax({
            url: "/User/WsRest/" + id,
            type: "get",
            success: function (data, status) {
                console.log("success get user with id : " + id, data);
            }
        });
    }

    function createUser(username, email, password, admin) {
        $.ajax({
            url: "/User/WsRest",
            type: "post",
            data: {
                Id: 0,
                Username: username,
                Email: email,
                Password: password,
                Admin: admin
            },
            success: function (data, status) {
                console.log("success post create.", data);
            }
        });
    }

    function deleteUser(id) {
        $.ajax({
            url: "/User/WsRest/" + id,
            type: "delete",
            success: function (data, status) {
                console.log("succes delete user with id : " + id, data);
                console.log("--- trying to get user ---");
                getUser(id);
                getAllUsers();
            }
        });
    }

    function updateUser(id, username, email, password, admin) {
        $.ajax({
            url: "/User/WsRest",
            type: "put",
            data: {
                id : id,
                Id: id,
                Username: username,
                Email: email,
                Password: password,
                Admin: admin
            },
            success: function (data, status) {
                console.log("success put/update.", data);
            }
        });
    }

    $(document).ready(function () {
        getAllUsers();
        //getUser(1);
        //createUser("nouvel utilisateur", "nouvel email", "newpassword", 0);
        //updateUser(4, "fifi", "fifi@email.com", "fifipassword", 1);
        //getUser(4);
        //deleteUser(5);
        //getAllUsers();
    });

</script>
