<div class="cocktail_img_container" >
    <img class="cocktail_img" src="<%= cocktailPictureUrl %>" alt="Cocktail picture" />
</div >
<div class="cocktail_infos" >
    <div class="cocktail_name"> <%= cocktailName %></div >

    <div >
        <span class="section_title" > Difficulté :</span > <%= cocktailDifficulty %>
    </div >
    <div >
        <span class="section_title" > Temps de préparation :</span > <%= cocktailDuration %>
    </div >
    <div >
        <div class="section_title" > Ingrédients :</div >
    </div >
    <div >
        <div class="section_title" > Recette :</div > <%= cocktailRecipe %>
    </div >
    <div >
        <div class="section_title" > Description :</div > <%= cocktailDescription %>
    </div >
</div >