<h1>Proposer un cocktail</h1>
<div class="form_container">
    <form action="javascript:void(0);" target="cocktail_creation_target" class="pure-form pure-form-aligned form_cocktail">
        <div class="pure-control-group">
            <label for="creation_form_name">Nom du cocktail</label>
            <input type="text" name="name" placeholder="Nom du cocktail" class="form_name field_Name field" id="creation_form_name"/>
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button">Continuer la création</button>
        </div>
    </form>
</div>
<div class="loader">
    <div>
        <img src="/Images/loader_glass.gif"/><br/>
        <span class="loader_message">Création du cocktail</span>
    </div>
</div>
