<h1>Creation of a cocktail</h1>
<div class="form_container">
    <form action="/Cocktail/WsRest" method="POST" target="cocktail_creation_target"
          class="pure-form pure-form-aligned form_cocktail" enctype="multipart/form-data">
        <div class="pure-control-group">
            <label for="creation_form_name">Nom du cocktail</label>
            <input type="text" name="name" placeholder="Nom du cocktail" class="form_name field_Name field" id="creation_form_name"/>
        </div>
        <div class="pure-control-group">
            <label for="creation_form_difficulty">Difficulté</label>
            <input type="number" min="1" max="5" value="1" id="creation_form_difficulty" name="difficulty"
                   class="form_difficulty field_Difficulty field"/> <span class="difficulty_max">/ 5</span>
        </div>
        <div class="pure-control-group">
            <label for="creation_form_duration">Temps de préparation</label>
            <input type="number" min="1" max="60" value="1" name="duration" id="creation_form_duration"
                   placeholder="Temps de préparation" class="form_duration field_Duration field"/> <span class="time_max">minutes</span>
        </div>
        <div class="pure-control-group">
            <label for="creation_form_description">Description</label>
            <textarea name="description" id="creation_form_description" class="form_description field_Description field"></textarea>
        </div>
        <div class="pure-control-group">
            <label for="creation_form_recipe">Recette</label>
            <textarea name="recipe" id="creation_form_recipe" class="form_recipe field_Recipe field"></textarea>
        </div>
        <div class="pure-control-group">
            <label for="creation_form_picture">Picture</label>
            <input type="file" name="picture" id="creation_form_picture" class="field_Picture_Url field"/>
        </div>
        <input type="hidden" name="Creator_Id" value="1"/>

        <div class="pure-controls">
            <button type="submit" class="pure-button">Create</button>
        </div>
    </form>
</div>

<iframe class="form_iframe" name="cocktail_creation_target">
</iframe>

<div class="loader">
    <div>
        <img src="/Images/loader_glass.gif"/><br/>
        <span class="loader_message">Création du cocktail</span>
    </div>
</div>
