<form action="javascript:void(0);" class="pure-form pure-form-aligned user_creation_form" >
    <div class="pure-control-group" >
        <label for="form_username" >Nom d'utilisateur</label >
        <input type="text" id="form_username" name="Username" />

        <div class="error_message" id="error_username" ></div >
    </div >

    <div class="pure-control-group" >
        <label for="form_password" >Mot de passe</label >
        <input type="password" id="form_password" name="Password" />

        <div class="error_message" id="error_password" ></div >
    </div >

    <div class="pure-control-group" >
        <label for="form_email" >E-mail</label >
        <input type="text" id="form_email" name="Email" />

        <div class="error_message" id="error_email" ></div >
    </div >

    <div class="pure-controls" >
        <button type="submit" class="pure-button pure-button-primary" >S'inscrire</button >
        <div class="error_message" id="error_message" ></div >
    </div >

</form >