<form action="javascript:void(0);" class="pure-form pure-form-aligned user_creation_form">
    <div class="pure-control-group">
        <label for="form_username">Nom d'utilisateur</label>
        <input type="text" id="form_username" name="Username" />
    </div>
    <div class="pure-control-group">
        <label for="form_password">Mot de passe</label>
        <input type="password" id="form_password" name="Password" />
    </div>
    <div class="pure-control-group">
        <label for="form_email">E-mail</label>
        <input type="text" id="form_email" name="Email" />
    </div>
    <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">S'inscrire</button>
    </div>
</form>