.cocktail_list {
    width: 800px;
    margin:auto;
}

.cocktail_item {
    clear: both;

    margin-top: 20px;
    background: white;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);

}

.cocktail_item_image {
    float: right;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.cocktail_item_image img {
    position: absolute;
}