.form_cocktail {
    margin: auto;
    margin-top: 50px;
    width: 500px;
}


.form_cocktail input[type="text"], .form_cocktail textarea {
    width: 300px;
    resize: none;
}

.form_cocktail textarea {
    height: 100px;
}

.form_cocktail .difficulty_max, .form_cocktail .time_max  {
    font-size: 1.1em;
    font-weight: bold;
}

.cocktail_creation .form_iframe {
    display: none;
}

.loader {
    position: absolute;
    top: 150px;
    left: 0px;
    right: 0px;
    text-align: center;
    /*color: white;*/
    font-weight: bold;
    display: none;
}

.loader div {
    margin: auto;
    width: 198px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

input:focus {
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

.cocktail_creation  .error_submit{
    border: 1px solid #ee5c44 !important;
}
