.cocktail_details .cocktail_img_container {

    width: 250px;
}

.cocktail_details .cocktail_name {
    font-size: 2.2em;
    margin: 2px 2px 10px 0px;
}


.cocktail_details .cocktail_infos {
    padding: 10px;
    background: rgba(240, 211, 0, 0.16);
    width: 230px;
    

}

.section_title {
    font-size: 1.1em;
    margin: 8px 2px 2px 0px;
}
.cocktail_details .description {
    background: rgba(173, 255, 0, 0.31);
    padding: 10px;
}

.cocktail_details .ingredients {
    background: rgba(240, 211, 0, 0.16);
    padding: 10px;
    margin-top: 5px;
}

.cocktail_details .recipe {
    background: rgba(173, 255, 0, 0.31);
    padding: 10px;
    margin-top: 5px;
}