.main_view {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0;
    bottom: 0px;
    width: 1000px;
    margin: auto;
    padding: 10px;
}

.logo_container {
    float: left;
}

#img_logo {
    width: 300px;
    height: 125px;
}

.inner_header_container {
    float: right;
    position: relative;
}

.connection {
    float: right;
    margin: 10px;
}

.navigation_menu_container {
    float: right;
    margin: 30px 20px 5px 20px;
}

.container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 88px;
    top: 130px;
    padding: 10px;
}

.panel {
    height: 100%;
    position: relative;
}

.panel > div {
    margin: 10px;
    background: rgba(256, 255, 255, 0.95);
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    overflow: auto;
}

#sub_app_container {
}

#sub_app_container > div {
    overflow-y: auto;
    overflow-x: hidden;
}

#header {

}

#footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    padding: 20px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 10px;
    margin-bottom: 0px;
}

fieldset {
    border: 1px #cacaca solid;
    border-radius: 5px;
    padding: 20px;
}

/*
Cocktail image
*/

.cocktail_image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.cocktail_image.small {
    width: 75px;
    height: 75px;
    overflow: hidden;
    position: relative;
}

.cocktail_image.big {
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.cocktail_image.huge {
    width: 350px;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.cocktail_image .cocktail_img {
    position: absolute;
}

input[type="text"] {
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: .8em;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-transition: .3s linear border;
    -moz-transition: .3s linear border;
    -ms-transition: .3s linear border;
    -o-transition: .3s linear border;
    transition: .3s linear border;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

#sub_app_container .action_button {
    float: right;
}

.justified_text {
    text-align: justify;
}

.ingredient_item {
    width: 95px;
    height: 30px;
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
    line-height: 30px;
    border: 1px rgb(199, 4, 4) solid;
    background: #dcdcdc;
    cursor: pointer;

}

.ingredient_item.inline {
    float:left;
    margin: 5px;
    background: white;
}