.main_view {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0;
    bottom: 0px;
}

.connection {
    float: right;
    margin: 10px;
}

.container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 88px;
    top: 50px;
}

.panel {
    height: 100%;
}

#sub_app_container {

}

#footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    padding: 20px;
    background: rgb(255, 174, 89);
    text-align: center;
}