.main_view {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0;
    bottom: 0px;
    width: 1000px;
    margin: auto;
    padding: 10px;
}

.logo_container {
    float: left;
}

#img_logo {
    width: 300px;
    height: 125px;
}

.inner_header_container {
    float: right;
    position: relative;
}

.connection {
    float: right;
    margin: 10px;
}

.navigation_menu_container {
    float: right;
    margin: 30px 20px 5px 20px;
}

.container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 88px;
    top: 130px;
    padding: 10px;
}

.panel {
    height: 100%;
    position: relative;
}

.panel > div {
    margin: 10px;
    background: rgba(256, 255, 255, 0.95);
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    overflow: auto;
}

#sub_app_container {
}

#sub_app_container > div {
    overflow-y: auto;
    overflow-x: hidden;
}

#header {

}

#footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    padding: 20px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 10px;
    margin-bottom: 0px;
}

