.happy_hours_today_cocktail {
}

.featured_cocktail_img_container {
    float: right;
    margin: 10px;
}

.featured_cocktail_img {
    width: 200px;
    height: 200px;
}

.featured_cocktail_header {
    font-size: 22px;
}

.featured_cocktail_name {
    font-size: 26px;
}

.description {
    font-size: 22px;
}

.featured_cocktail_description {
    font-size: 18px;
}